html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #171744;
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

.icon-logo {
  background-image: url(assets/default/svg/logo.svg);
  background-size: 100%;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.icon-share {
  background-image: url(assets/default/svg/share_arrow.svg);
  background-size: contain;
  height: 1.125rem;
  width: 1.125rem;
  background-repeat: no-repeat;
  display: inline-block;
}

.ui {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;

  min-width: 320px;
  pointer-events: none;
  width: 100vw;

  background: transparent;
  display: grid;
  padding: 0 20px;
  grid-template-areas:
    "head head head head head head head head head head head head"
    "main main main extd .... .... .... .... .... .... side side"
    "main main main extd extm extm extm extm extm extm side side"
    "main main main extd extf extf extf extf extf extf side side"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
  grid-template-rows: minmax(70px, max-content) 1fr 1fr 1fr minmax(20px, max-content) minmax(min(13vh, 70px), auto);


  .click {
    pointer-events: all;
    cursor: pointer;
  }

  header {
    height: 75px;
    margin: 0;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-area: head;
    grid-template-columns: auto;
    z-index: 50;

    .breadcrumb {
      grid-column: 1;
      grid-row: 1;
      height: 45px;
      letter-spacing: .02em;
      grid-auto-flow: column;
      --inactiveOpacity: 0.7;
      --activeOpacity: 1.0;
      align-items: center;
      display: grid;
      justify-content: left;

      .home {
        align-items: center;
        -moz-column-gap: .5em;
        column-gap: .5em;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-columns: max-content max-content;
        opacity: var(--inactiveOpacity);


        .text {
          display: inline-block;
          margin-top: 2px;
          vertical-align: middle;

          color: #c6c6c9;
          display: contents;
          font-size: inherit;
          font-weight: 600;
          letter-spacing: .64px;
          text-transform: uppercase;
        }
      }

      :last-child {
        opacity: var(--activeOpacity);
        align-items: center;
        display: grid;
        grid-template-columns: max-content max-content;
        padding: 0;
      }

      .separator {
        display: inline-block;
        transform: scale(.66);
        vertical-align: middle;
      }

      .svg-right {
        display: inline-block;
        transform: scale(.66);
        vertical-align: middle;

        height: 30px;
        width: 30px;

        background-image: url(assets/default/svg/right.svg);
        background-repeat: no-repeat;
        background-size: 100%;
      }

      .link {
        color: #c6c6c9;
        display: contents;
        font-size: inherit;
        font-weight: 600;
        letter-spacing: .64px;
        cursor: pointer;
      }
    }
  }

  header::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .85) 70%, rgba(0, 0, 0, .75) 100%);
    content: "";
    grid-area: head;
    inset: 0 -20px -2vh -20px;
    -webkit-mask-image: linear-gradient(180deg, #fff 0, transparent);
    mask-image: linear-gradient(180deg, #fff 0, transparent);
    position: absolute;
    z-index: -1;
  }

  .top-right-nav {
    align-items: center;
    display: flex;
    font-family: Inter, Metropolis, sans-serif;
    gap: 1rem;
    grid-column: 2;
    grid-row: 1;
    justify-content: flex-end;
    justify-self: end;
  }
}

.ui::after {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .85) 70%, rgba(0, 0, 0, .75) 100%);
  bottom: 0;
  content: "";
  height: calc(80px + 2vh);
  left: 0;
  -webkit-mask-image: linear-gradient(0deg, #fff 0, transparent);
  mask-image: linear-gradient(0deg, #fff 0, transparent);
  position: absolute;
  transform: scaleY(2.5);
  transform-origin: bottom;
  transition: transform .5s cubic-bezier(0.2, 0.2, 0, 1);
  width: 100%;
  z-index: 1;
}

.share-button {
  background-color: transparent;
  color: #c6c6c9;
  gap: .8em;
  margin: 0;
  width: unset;


  align-items: center;
  border-radius: .375em;
  display: flex;
  font-family: Inter, Metropolis, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: calc(1em + 24px);
  justify-content: center;
  order: 2;
  padding: 0 1em;
  transition: all .3s ease;

  border: 0;
  letter-spacing: .02em;
  line-height: 150%;
}

.share-button:hover {
  background-color: #3e63dd;
  filter: brightness(1.2);
}

.mega-menu {
  order: 3;
  --headerHeight: 75px;
  --mobileHeaderHeight: 70px;
  --mobileAZHeight: 70px;

  .hidden {
    display: block;
    opacity: 0;
    transition-duration: .4s;
    visibility: hidden;
  }

  .active {
    pointer-events: all;
    visibility: visible;
  }

  .menu-button {
    padding-right: .4rem;
    align-items: center;
    border-radius: .375rem;
    color: #eaeaeb;
    display: flex;
    gap: .8em;
    height: 2.5rem;

    background-color: transparent;
    border: 0;
    font-family: Inter, Metropolis, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 150%;
    padding: 0;

    .icon-menu {
      filter: brightness(.9);
      transform: scale(1.1, .8) translateY(-.05rem);

      height: 1.125rem;
      width: 1.125rem;

      background-image: url(assets/default/svg/menu.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
    }
  }

  .menu-header {
    height: 75px;

    align-items: center;
    display: grid;
    grid-auto-flow: column;

    border-bottom: 1px solid #252527;
    justify-items: center;
    padding: 0 20px;

    .icon-close {
      height: 1.125rem;
      width: 1.125rem;
      justify-self: end;
      transform: scale(1.5);
      background-image: url(assets/default/svg/close.svg);
      background-repeat: no-repeat;
      background-size: 100%;

    }
  }

  .menu-content {
    grid-auto-flow: column;
    margin: 0;
    padding: 1% 3%;
    display: grid;
    height: 100%;
    pointer-events: all;


    .list-container {
      grid-template-rows: 1fr 4em;
      font-family: Metropolis, sans-serif;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 150%;
    }

    .block {
      align-items: normal;
      border-bottom: none;
      gap: .5em;
      grid-auto-flow: row;
      grid-template-rows: 3em 1fr;
      justify-items: normal;
      padding: .5em clamp(.5em, 1.3vw, 3em) 0 clamp(.5em, 2vw, 3em);
      display: grid;

      .title {
        align-items: flex-start;
        display: flex;
        font-size: 14px;
        background-color: transparent;
        border: 0;
        color: #fff;
        opacity: 1;
      }

      .list-container {
        grid-template-rows: 1fr 4em;
        align-items: stretch;
        display: grid;
      }

      .link-container {
        gap: min(2vw, 1em);
        opacity: .7;
        transition: opacity .1s ease-in-out;
        align-items: center;
        display: flex;


      }

      .link-container:hover {
        opacity: 1;
      }

      .az-link-container {
        align-items: flex-start;
        border-top: 1px solid #252527;
        display: flex;
        opacity: .7;
        padding: 1em 0;
        transition: opacity .1s ease-in-out;

        strong {
          font-weight: 700;
        }

        >button {
          padding: 0;
          text-align: left;
          background-color: transparent;
          border: 0;
          color: #fff;


        }

      }

      .az-link-container:hover {
        opacity: 1;
        text-decoration: underline;
      }

      .entry-container {
        .entry-label {
          display: block;
          padding: 8px 0;
        }

        .entry-image {
          display: inline;
          max-height: 48px;
          max-width: 48px;
          margin: .5em 0;
          transform: scale(1);
        }
      }

    }

    .block:first-child {
      border-right: 1px solid #252527;
    }
  }

  .menu-container {
    border-bottom: 1px solid #252527;
    height: auto;
    overflow: hidden;

    background: linear-gradient(180deg, #252527 0.7%, #000);
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    transition-duration: .8s;
    transition-property: opacity, visibility;
    transition-timing-function: cubic-bezier(0.2, 0.2, 0, 1);
    width: 100vw;
    z-index: 51;

    color: #fff;

    .hidden {
      mask-size: 100% 0;
      transition-duration: .2s;
      opacity: 0;
    }
  }

  .content-wrapper {
    height: 505px;

  }

  .content-wrapper {
    -webkit-mask-image: linear-gradient(180deg, #fff 50%, transparent);
    mask-image: linear-gradient(180deg, #fff 50%, transparent);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 200%;
    mask-size: 100% 200%;
    transition: -webkit-mask-size 1.2s .1s cubic-bezier(0.2, 0.2, 0, 1);
    transition: mask-size 1.2s .1s cubic-bezier(0.2, 0.2, 0, 1);
    transition: mask-size 1.2s .1s cubic-bezier(0.2, 0.2, 0, 1), -webkit-mask-size 1.2s .1s cubic-bezier(0.2, 0.2, 0, 1);
  }

  .background {
    background: #000;
    height: 100%;
    left: 0;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }

  .branding {
    justify-self: start;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
  }

  .title {
    opacity: .7;
    transition: opacity .1s ease-in-out;
    display: block;
    letter-spacing: .04em;
    font-weight: 600;
    margin-left: .5em;
  }


}